.chart{
    -fx-background-color: yellow;
}
.chart-title{
    -fx-text-fill: yellow;
    -fx-font-size: bold;
}
.chart-line-symbol {
    -fx-background-color: #f9d900, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 15px;
    -fx-padding: 5px;
}